.elementor-715 .elementor-element.elementor-element-218c5cd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-715 .elementor-element.elementor-element-6cec1df caption-wrap-inner {
    text-align: left;
}

.elementor-715 .elementor-element.elementor-element-6cec1df .btn-one.wndfal-btn .btn-text-wrap {
    background-color: #034170;
}

.elementor-715 .elementor-element.elementor-element-6cec1df .btn-one.wndfal-btn:hover {
    color: #034170;
}

.elementor-715 .elementor-element.elementor-element-6cec1df .btn-one.wndfal-btn:hover .btn-text-wrap {
    background-color: #ffffff;
}

.elementor-715 .elementor-element.elementor-element-6cec1df .btn-one.wndfal-btn:before,
.elementor-715 .elementor-element.elementor-element-6cec1df .btn-one.wndfal-btn:after,
.elementor-715 .elementor-element.elementor-element-6cec1df .btn-one.wndfal-btn .btn-text-wrap:before,
.elementor-715 .elementor-element.elementor-element-6cec1df .btn-one.wndfal-btn .btn-text-wrap:after {
    background: #034170;
}

.elementor-715 .elementor-element.elementor-element-6cec1df .btn-two.wndfal-btn:hover {
    color: #034170;
}

.elementor-715 .elementor-element.elementor-element-6cec1df .btn-two.wndfal-btn:hover .btn-text-wrap {
    background-color: #ffffff;
}

.elementor-715 .elementor-element.elementor-element-6cec1df .btn-two.wndfal-btn:before,
.elementor-715 .elementor-element.elementor-element-6cec1df .btn-two.wndfal-btn:after,
.elementor-715 .elementor-element.elementor-element-6cec1df .btn-two.wndfal-btn .btn-text-wrap:before,
.elementor-715 .elementor-element.elementor-element-6cec1df .btn-two.wndfal-btn .btn-text-wrap:after {
    background: #034170;
}